<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>

    <% for(let i=0; i<category.length; i++){ %>
        <tr> 
            <td><%= i+1 %></td>
            <td><%= category[i].name %></td>
            <td>
                <form action="">
                    <a href="" class="btn btn-warning"> 
                        <i class="fas fa-pencil-alt"></i>
                        Update </a>
                    <button class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                        Delete</button>
                </form>
            </td>
        </tr>
    <% } %>

    
  </tbody>
  <!-- <tfoot>
    <tr>
      <th>Rendering engine</th>
      <th>Browser</th>
      <th>Platform(s)</th>
      <th>Engine version</th>
      <th>CSS grade</th>
    </tr>
  </tfoot> -->
</table>
